<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seniors Farewell</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-inner">
          <h1>Welcome, Divi!</h1>
          <div class="video-container">
            <video id="personalized-video" controls>
              <source src="videos/divi.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a href="../index.html" class="home-button">Home</a>
    </div>
    <script src="anime.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
