$black: #000; // Define the black color variable

body {
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  position: relative;
  width: 70vw;
  height: calc(9 / 16 * 70vw);
  max-width: calc(16 / 9 * 70vh);
  max-height: 70vh;
  border-radius: 6px;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.card-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: $black; // Use the black color variable
}

.card-play {
  width: 100%;
  /* Make the play icon fill the whole card */
  height: 100%;
  /* Make the play icon fill the whole card */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url("play.svg") center center / contain no-repeat;
  /* Use contain to fill the card and no-repeat to prevent repetition */
  cursor: pointer;
  transition: opacity 0.3s ease-out;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: $black;
    transition: all 0.5s ease-out;
  }
}

.card:hover .card-play {
  opacity: 1;
}
