body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.container {
  text-align: center;
  max-width: 800px;
}

.card {
  position: relative;
  width: 450px;
  height: 350px;
  background-image: url("try.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  overflow: hidden;
  animation: borderAnimation 3s infinite alternate;
}

@keyframes borderAnimation {
  0% {
    transform: scale(1);
    border-color: #fff;
  }
  100% {
    transform: scale(1.1);
    border-color: #f00;
  }
}

.card:hover {
  transform: scale(1.05) rotate(2deg);
  box-shadow:
    0 16px 32px rgba(0, 0, 0, 0.5),
    0 -16px 32px rgba(0, 0, 0, 0.5),
    -16px 0 32px rgba(0, 0, 0, 0.5),
    16px 0 32px rgba(0, 0, 0, 0.5);
  background-color: #444;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.5) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%),
    linear-gradient(315deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%),
    linear-gradient(45deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%);
  background-size: 50% 50%;
  background-position:
    top left,
    top right,
    bottom left,
    bottom right;
  background-repeat: no-repeat;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

.video-container {
  flex-grow: 1;
  display: none;
}

.video-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.card:hover .card-inner {
  background-color: rgba(0, 0, 0, 0.3);
}

.home-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100px;
  padding: 10px 20px;
  text-align: center;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #444;
}
